h1 Apie projektą

p 
  'Šis pažeidimų registravimo įrankis buvo skirtas 2012-ųjų metų LR Seimo rinkimams. Šiuo metu tai yra demonstracinė projekto versija.

p 
  'Išeities kodas yra atviro kodo ir gali būti perpanaudotas kitiems geriems tikslams: 
  = link_to 'GitHub', 'https://github.com/vidmantas/balsupirkimas.lt'

/ p 
/   'VISI surinkti duomenys bus perduoti 
/   = link_to 'Vyriausiajai rinkimų komisijai', 'http://www.vrk.lt'
/   '&nbsp;bei paviešinti atviru formatu (be asmeninių kontaktų).

/ p Asmeninių duomenų neperduosime tretiesiems asmenims, išskyrus VRK ir teisėsaugos institucijoms įstatymų numatyta tvarka.

/ p Projekto autoriai ir administratoriai NIEKAIP nesusiję nė su viena politine partija, nėra gavę atlygio bei neturi jokių ekonominių ir kitokių sąsajų su jokiomis politinėmis jėgomis.

/ p 
/   'Jei turite klausimų, pasiūlymų arba norite prisidėti prie projekto, prašome susisiekti 
/   = link_to 'Facebook', 'http://www.facebook.com/balsupirkimas.lt'
/   '&nbsp;arba
/   = mail_to 'vidmantas@kabosis.lt', 'el. paštu.', encode: 'hex'
